# Ignorar toda a pasta src e seu conteúdo
src/

# Caso você queira ser mais específico, pode ignorar apenas os arquivos CSV dentro da pasta src
src/*.csv

# Outros arquivos que geralmente devem ser ignorados
__pycache__/
*.pyc
.env
.venv/
venv/
.idea/
.vscode/
*.log 